<div id="message-<%= message.id %>" class="message-box <%= message.user == current_user ? "my-message" : "other-message" %>" >
  <p class="message-box-text"><%= message.content %></p>
  <i class="message-box-time"><%= message.created_at.strftime("%l:%M") %></i>
</div>
