// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #FFCB1F;
$lightyellow: #FFF5D6;
$darkyellow: #F5BC00;

$blue: #0A2BFF;
$lightblue: #ADB8FF;
$darkblue: #000E66;

$darkgrey: #7C7979;
$lightgrey: #C4C4C4;
$white: #FFFFFF;

$lightred: #FFC7CC;
$darkred: #C75F68;

$lightgreen: #A1FFB7;
$darkgreen: #42C761;

$lightpurple: #ADB8FF;
$darkpurple: #4C5CC7;
