.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $lightblue;
}

.nav-link {
  color: $ultrablue;
}

.nav-link:hover {
  color: black;
}

.dashboard-title {
  color: black;
}

.outfit-grid {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  width: 100%;
}
