.modal-footer {
  justify-content: center !important;
}

.sidebar{
  top: 65px;
}

.alert {
  background-color: #FFF5D6;
  border: 5px solid #FFCB1F;
  border-radius: 20px;
  position: relative;
  top: 0;
  right: auto;
  left: auto;
}

// @media (max-width: 500px) {
//   .alert {

//   }
// }


// position: top;
// /* bottom: 16px; */
// /* left: 16px; */
// /* right: 16px; */
