.modal-footer {
  justify-content: center !important;
}

.sidebar{
  top: 65px;
}

.alert {
  background-color: #FFF5D6;
  border: 5px solid #FFCB1F;
  border-radius: 20px;
  position: relative;
  top: 0;
  right: auto;
  left: auto;
}

.animation {
  display: flex;
  justify-content: center;
}
