 <div class="row d-flex justify-content-center p-0 m-0">
  <div class="col-lg-5 col-md-6 col-sm-12 p-0">
    <%= render "shared/outfit_card", outfit: @outfit %>
  </div>

  <div class="col-lg-3 col-md-3 col d-none d-sm-block p-0">
     <div class="sidebar container sticky-top py-3">

        <h5 class="mb-3">Items in this outfit</h5>
        <ul class="list-group pb-3">
        <% @outfit.items.each do |item| %>

          <li class="list-group-item border-0">
             <%= render partial: "shared/item_card", locals: { item: item } %>
          </li>

        <% end %>
        </ul>
      </div>
  </div>
 </div>
