<div class="card-product px-2">
  <div class="card-item-img"
       style="background-image:url(<%= cl_image_path item.photo.key %>)">
  </div>
  <div class="card-product-infos">
    <p><%= item.name %></p>
  </div>
</div>
