<div class="px-2 bg-transparent d-flex flex-column">

  <div class="card-item-img"

       style="background-image:url(<%= cl_image_path item.photo.key %>)">

  </div>

  <div class="card-product-infos">

    <%= link_to item.name, item_path(item), class:"stretched-link", method: :get %>

  </div>

</div>
