<div class="px-2 bg-transparent d-flex flex-column">

    <%= link_to item_path(item), method: :get do %>

      <div class="card-item-img"

          style="background-image:url(<%= cl_image_path item.photo.key %>)">

      </div>

      <div class="card-product-infos">

        <p class="m-0 p-0 text-center" style="width: 150px"><%= item.name %></p>

      </div>

    <% end %>

</div>
