<%= link_to dashboard_path(user) do %>

  <div class="user-info d-flex align-items-center mt-2">

    <%= cl_image_tag user.photo.key, class:"avatar me-3" %>
    <h5 class="d-inline m-0"><%= user.nickname %></h5>

  </div>

<% end %>
