<div class="row mx-auto d-flex justify-content-center gx-4">

  <div class="col-lg-5 col-md-6 col-sm-12">
    <% if info %>
      <div class="alert alert-light alert-confirmation text-center alert-dismissible fade show m-1 mb-4" role="alert">
        <div class="flash-info">
          <%= info %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
        <p>You can see your orders on your trades</p>
        <div class="animation">
          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_rovf9gzu.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
        <%= link_to "Your trades", trades_path, class: "btn btn-action mt-4" %>
      </div>
    <% end %>

    <div class="py-3">

      <h4 class="py-2 border-bottom border-secondary border-3"><i class="fas fa-bolt me-3"></i>Trending outfits now</h4>

    </div>

    <div class="row mb-5 ">

      <% @outfits.each do |outfit| %>
        <%= render "shared/outfit_card", outfit: outfit %>
      <% end %>

    </div>

  </div>

  <div class="col-lg-3 col-md-5 d-none d-sm-block" >

    <div class="sidebar container sticky-top py-3">

      <h5 class="mb-3 py-1 border-bottom border-secondary border-3">People you may like</h5>
      <ul class="list-group pb-3">
        <% @people_you_may_like.each do |user| %>
          <%= render partial: "shared/user_info", locals: { user: user } %>
        <% end %>
      </ul>

      <small class="text-muted">Refresh was created with love by Yigit, Christina and Mario. </small>
    </div>

  </div>

</div>
