.btn-action {
  color: #0A2BFF;
  background-color: #ADB8FF;
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
  transition: background 0.3s ease;

  background: linear-gradient(#ADB8FF, #ADB8FF);
  transition: background 0.3s ease;
}

.btn-action:hover {
  color: white;
}

.btn-item-count {
  color: #FFF5D6;
  background-color: #F5BC00;
  padding: 5px 10px;
}
