.btn-action {
  color: $ultrablue;
  background-color: $lightblue;
  border-radius: 15px;
  padding: 10px 35px;
  font-weight: bold;
  transition: background 0.3s ease;

  background: linear-gradient($lightblue, $lightblue);
  transition: background 0.3s ease;
}

.btn-action:hover {
  color: white;
}

.btn-item-count {
  color: $lightyellow;
  background-color: $yellow;
  padding: 5px 10px;
}

.btn-outline-info {
  color: $yellow;
  border-color: $yellow;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px 20px;
  }
