.choose-card{
  aspect-ratio: 1;
  width: 10vw;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3, h2{
    color: $ultrablue;
  }

}

#chooseSubmit{
  background: transparent;
  .btn-primary{

  }
  .modal-content{
    border-radius: 50px;
    border: $yellow solid 3px;
  }
  .refresh-badge{
    width: 40%;
    border: $yellow solid 3px;
    background-color: $lightyellow;
    color: $darkgrey;
  }
}

@media (max-width:500px) {
  .choose-card{
    width: 33vw;
  }
}
