.img-item-card{
  aspect-ratio: 3 / 4;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-item {
  position: relative;
  display: flex;
  flex-direction: flex-column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  width: 80vw;
  margin: 0 auto;
}
