@media (max-width:500px) {

  .modal-dialog {
    height: 300px;
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0;
  }

}

#chooseSubmit{
  .modal-dialog{
    position: relative;
    bottom: auto;
    border: none;
  }
}

.btn-close{
  color: $darkblue;
  opacity: 1;
}
