@media (max-width:500px) {

  .modal-dialog {
    height: 350px;
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0;
  }

}

#chooseSubmit{
  .modal-dialog{
    $modal-scale-transform: scale(1.02);
  }
}
