.navbar-lewagon {
  z-index: 10;
  justify-content: space-between;
  background: $lightyellow;
  color: $darkblue;
  a{
    color: $darkblue;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.submit-button{
  top: 28px;
  z-index: 20;
  .btn{
    font-weight: bold;
    color: $darkblue;
  }
}

.navbar-logo{
  background-image: url("Logo Light.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
