.navbar-lewagon {
  z-index: 10;
  justify-content: space-between;
  background: $lightyellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.submit-button{
  top: 35px;
  z-index: 20;
}
